<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>sid</name>
    <displayName><![CDATA[SID Instant EFT]]></displayName>
    <version><![CDATA[1.1.0]]></version>
    <description><![CDATA[Accept payments by SID Instant EFT]]></description>
    <author><![CDATA[SiD Instant EFT]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete your details ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
